*.iml
New Project/MyApplication2/.idea/compiler.xml
New Project/MyApplication2/.idea/compiler.xml
New Project/MyApplication2/.idea/compiler.xml
New Project/MyApplication2/.idea/gradle.xml
New Project/MyApplication2/.idea/misc.xml
New Project/MyApplication2/.idea/runConfigurations.xml
New Project/MyApplication2/.idea/vcs.xml
New Project/MyApplication2/.idea/modules.xml
New Project/MyApplication2/.idea/misc.xml
New Project/MyApplication2/.idea/compiler.xml
New Project/MyApplication2/.idea/encodings.xml
New Project/MyApplication2/.idea/compiler.xml
New Project/MyApplication2/.idea/compiler.xml
New Project/MyApplication2/.idea/encodings.xml
New Project/MyApplication2/.idea/encodings.xml